@font-face {
  font-family: "iconfont"; /* Project id 3985817 */
  src: url('iconfont.woff2?t=1680146579889') format('woff2'),
       url('iconfont.woff?t=1680146579889') format('woff'),
       url('iconfont.ttf?t=1680146579889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuechi:before {
  content: "\eae6";
}

.icon-home:before {
  content: "\e621";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

